---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Products from "../components/Products.astro"
import About from "../components/About.astro"
import Vision from "../components/Vision.astro"
import WhyChoose from "../components/WhyChoose.astro"
import Facility from "../components/Facility.astro"
import Contact from "../components/Contact.astro"
---

<Layout>
  <main>
    <Hero />
    <Products />
    <About />
    <Vision />
    <WhyChoose />
    <Facility />
    <Contact />
  </main>
</Layout>
