---
import HeroVideo from "../assets/Pulses.mp4"
---

<div
  class="isolate grid place-items-center overflow-hidden [&>*]:col-span-full [&>*]:row-span-full"
>
  <h1 class="text-[2rem] font-bold sm:text-5xl md:text-[5rem]">
    "PROVIDING THE BEST QUALITY PULSES FOR YOUR BUSINESS"
  </h1>
  <video
    class="-z-10 h-full w-full object-cover object-center"
    autoplay
    muted
    loop
  >
    <source src={HeroVideo} type="video/mp4" />
  </video>
</div>
