---
import HeroVideo from "../assets/Pulses.mp4"
---

<div class="relative flex items-center justify-center overflow-hidden">
  <h1 class="text-center text-[2rem] font-bold sm:text-5xl md:text-[5rem]">
    "PROVIDING THE BEST QUALITY PULSES FOR YOUR BUSINESS"
  </h1>
  <video
    class="absolute left-0 top-0 -z-10 min-h-full min-w-full object-cover object-center"
    autoplay
    muted
    loop
  >
    <source src={HeroVideo} type="video/mp4" />
  </video>
</div>
