<div
  class="flex flex-col items-center justify-center p-[1.125em] text-center text-[#623E2A]"
>
  <section class="md:w-1/2">
    <h2 class="text-[2rem] leading-normal sm:text-5xl md:text-[5rem]">
      OUR VISSION
    </h2>
    <p class="text-[2rem] md:text-5xl">
      To Make Indian Pulses And Grains Industry And Trade Globally Competitive;
      And In So Doing, Help Advance India's Food Security And Nutrition Security
    </p>
  </section>
  <section class="mt-8 md:w-1/2">
    <h2 class="text-[2rem] leading-normal sm:text-5xl md:text-[5rem]">
      OUR MISSION
    </h2>
    <p class="text-[2rem] md:text-5xl">
      To Provide An Effective National Forum, With Regional And Global
      Aspirations, By Bringing Together Stakeholder Along The Value Chain.
    </p>
  </section>
</div>
